[Unit]
Description=Fuhur API Web server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/fuhur-api
StandardOutput=syslog
User=www-data
Group=www-data
Restart=always
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
ProtectKernelTunables=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
Environment=FUHUR_TOKEN={{ fuhur_api_token }}
Environment=FUHUR_SIGNSECRET={{ fuhur_sign_secret }}

[Install]
WantedBy=multi-user.target
